body{
  background-color: #343541;
}
.main{
   text-align: center;
   margin-top: 3%;
   background-color:whitesmoke;
   margin-left: 38%;
   margin-right: 38%;
   padding: 15px;
   border: 2px solid black;
   border-radius: 5px;
}

.btn{
  background-color: palegreen;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
}
